@media screen and (max-width: 600px) {
  div.container {
    min-width: unset;
    width: 95vw;
    min-height: 245px;
    padding: 20px;
    margin: 10px;
    div.input-container {
      top: unset;

      form {
        &.form {
          width: unset;
        }
        input {
          width: 93%;
        }
      }
    }
    h1 {
      font-size: 20px;
    }
    div.countdown {
      li {
        font-size: 15px;
        span {
          font-size: 40px;
        }
      }
    }
  }
}
